*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin:30px auto;
    background-color: rgba(128, 128, 128, 0.507);
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.box{
  
    border-radius: 10px;
    background-color: rgba(136, 231, 231, 0.692);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.j-c-c{
    justify-content: center;
}
.j-c-s-b{
    justify-content: space-between;
}
.p-1{
    padding: 10px;
}
.p-2{
    padding: 20px;
}
.p-3{
    padding: 20px;
}
.m-1{
    margin: 10px;
}
.h-5-1{
    height: 50px;
}
.h-3-1{
    height: 30px;
}
.h-7-1{
    height: 70px;
}
.h-150{
    height: 150px;
}
.h-1{
    height: 100px;
}
.h-2{
    height: 200px;
}
.h-3{
    height: 300px;
}
.h-4{
    height: 400px;
}
.h-5{
    height: 500px;
}
.h-6{
    height: 600px;
}
.h-7{
    height: 700px;
}
h1{
    text-align: center;
}

button{
    padding: 6px 15px;
    background-color: #8364E2;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    border: none;
}
.div{
    display: block;
}
.div a{
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
